
<h1><%= @user.name %></h1>
<p>email: <%= @user.email %></p>
<p>password: <%= @user.password %></p>



<h3><%= link_to "Schedule", controller: "schedules", action: "index", :userID => params[:id] %></h3>
<h3><%= button_to "Delete", {controller: "users", action: "destroy", id: @user.id },:method => :delete %></h3>
<%= link_to "Go Back", controller: "users", action: "index" %>

<pre>
  <%= @user.inspect %>
</pre>