<h1><%= @schedule.title %></h1>
<p>year: <%= @schedule.year %></p>
<p>month: <%= @schedule.month %></p>
<p>day: <%= @schedule.day %></p>
<p>category: <%= @schedule.category %></p>
<p>star: <%= @schedule.star %></p>
<p>category: <%= @schedule.note %></p>
<p>remind_date: <%= @schedule.remind_date %></p>
<p>remind_time: <%= @schedule.remind_time %></p>
<p>ring: <%= @schedule.ring %></p>
<p>submit: <%= @schedule.submit %></p>
<p>accept: <%= @schedule.accept %></p>
<p>image: <%= @schedule.image %></p>



<h3><%= button_to "Delete", { controller: "schedules", action: "destroy"}, :method => :delete %></h3>
<%= link_to "Go Back", controller: "schedules", action: "index" , userID: @schedule.userID%>